<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>MTC Test</title>
    <meta name="description" content="MTC Test SEO description" />
    <meta name="keywords" content="MTC Test SEO keywords" />
    <meta name="robots" content="index,follow" />
    <link rel="canonical" href="" />

    <meta property="og:title" content="MTC Test" />
    <meta property="og:site_name" content="MTC Test" />
    <meta property="og:description" content="MTC Test SEO description" />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="image" />
    <meta property="og:url" content="" />

    <meta property="og:image:url" content="" />
    <meta property="og:image:secure_url" content="" />
    <meta property="og:image:type" content="image/png" />

    <meta name="twitter:card" content="summary" />
    <meta name="twitter:title" content="MTC Test" />
    <meta name="twitter:description" content="MTC Test SEO description" />
    <meta name="twitter:image" content="" />

    <link rel="shortcut icon" href="" />
    <link rel="icon" type="image/png" href="" />
    <link rel="apple-touch-icon" href="" />
    <link rel="image_src" href="" />
  </head>

  <body>
    ${require('../includes/shared/svg-sprite.html')}

    <div class="content">
      ${require('../includes/shared/nav.html')}

      ${require('../includes/shared/menu.html')}

      ${require('../includes/homepage/header.html')}

      ${require('../includes/shared/footer.html')}
    </div>
  </body>
</html>
