.footer {
  background-color: $black;
  padding: rem(40) 0 rem(60);
  margin-top: auto;

  &__inner {
    padding: 0 rem(20);
    margin: 0 auto;
    max-width: rem(1300);
  }

  &__top {
    width: 100%;
    display: flex;
    justify-content: center;
    overflow: hidden;
  }

  &__logo-container {
    position: relative;
    display: inline-flex;
    align-items: center;
    margin: 0 auto;
  }

  &__logo-container::before,
  &__logo-container::after {
    content: "";
    position: absolute;
    width: 100vw;
    height: 1px;
    background-color: $white-02;
  }

  &__logo-container::before {
    right: calc(100% + 18px);
  }

  &__logo-container::after {
    left: calc(100% + 18px);
  }

  &__logo {
    width: rem(84);
    height: rem(33);
  }

  &__main {
    margin-top: rem(32);
  }

  &__cols {
    display: flex;
  }

  &__col-heading {
    color: $white;
    letter-spacing: 0;
    text-transform: capitalize;
  }

  &__col-links {
    margin-top: rem(24);
  }

  &__col-links--social {
    display: flex;
  }

  &__col-links-item + &__col-links-item {
    margin-top: rem(10);
  }

  &__col-links--social &__col-links-item + &__col-links-item {
    margin-top: 0;
    margin-left: rem(15);
  }

  &__col-link {
    color: rgba($white, 0.8);
  }

  &__col-link-icon {
    width: rem(24);
    height: rem(24);
    fill: $white;
  }

  &__copyright {
    font-size: rem(13);
    line-height: rem(26);
    letter-spacing: 0;
    text-align: center;
    color: $white-05;
    max-width: rem(368);
    margin: rem(32) auto 0;
  }

  @media screen and (max-width: $screen-sm-max) {
    &__cols {
      flex-wrap: wrap;
      justify-content: space-between;
      margin-top: rem(-10);
      margin-left: rem(-16);
      margin-right: rem(-16);
    }

    &__col {
      min-width: rem(200);
      padding: rem(20) rem(16);
    }
  }

  @media screen and (min-width: $screen-lg-min) {
    &__inner {
      padding-left: 0;
      padding-right: 0;
      padding-bottom: rem(60);
      border-bottom: 1px solid $white-02;
    }

    &__main {
      margin-top: rem(42);
    }

    &__cols {
      justify-content: center;
    }

    &__col {
      min-width: rem(154);
    }

    &__col + &__col {
      margin-left: rem(67);
    }

    &__col-links {
      margin-top: rem(35);
    }

    &__col-link-icon {
      width: rem(40);
      height: rem(40);
    }

    &__copyright {
      margin-top: rem(48);
    }
  }
}
